@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply text-gray-800 antialiased;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar { display: none; }
  .scrollbar-hidden { scrollbar-width: none; -ms-overflow-style: none; }
}

